:root {
    --gold: #D9C382;
    --hedderBg: #252858;
    --navBg: #516183;
    --textColorBlack: black;
    --textColorWhite: white;
    --newRe: #59272B;
    --onTourH3: #252858;
    --onTourH4: #8C2703;
}

