@import '_variables.css';

* {
    margin: 0;
    padding: 0;
}

/* header  */
header {
  padding: 50px;
  text-align: center;
  background: var(--hedderBg);
  color: var(--gold);
  
}

.twl {
    font-size: 33px;
}

.wda {
    font-size: 23px;
    }

nav {
    background: var(--navBg);
    text-align: center;
    padding: 10px;
}

nav a {
    text-decoration: none;
    color: var(--textColorWhite);
    font-size: 20px;
    margin: 0px 10px;
    transition: color 0.3s ease, font-size 0.3s ease;
}

ul {
    list-style-type: none;;
}

ul li:not(:last-child) {
    margin: 10px 0;
    border-bottom: 0.1rem solid var(--gold);
}

nav a:hover {
    color: var(--gold);
    font-size: 22px;
}

.php_preview {
    background: var(--gold);
    color: var(--textColor);
    padding: 1rem;
}

.php_preview h2, h3, h4 {
    padding: 0.5rem;
    text-align: center;
}

.php_preview h2 {
    background-color: var(--newRe);
    color: var(--textColorWhite);
    border-radius: 10px;
    padding: 0.7rem;
    margin: 0.5rem 4rem;
}

.php_preview h3 {
    font-size: 2rem;
    margin-bottom: -0.5rem;
}

.php_preview img {
    display: block;
    margin: 0 auto;
    width: 30%;
    background: #fff;
    padding: 0.5rem;
    border-radius: 10px;
}

.mainText p {
    display: flex;
    justify-content: center;
    padding: 1rem;
}


@media only screen and (max-width: 600px) {
    img[src="/img/lind.png"] {
        display: none;
    }
}