@import '_variables.css';

* {
    margin: 0;
    padding: 0;
}

/* header  */

header {
  padding: 50px;
  text-align: center;
  background: var(--hedderBg);
  color: var(--gold);
  
}

.twl {
    font-size: 33px;
}

.wda {
    font-size: 23px;
    }

nav {
    background: var(--navBg);
    text-align: center;
    padding: 10px;
}

nav a {
    text-decoration: none;
    color: var(--textColorWhite);
    font-size: 20px;
    margin: 0px 10px;
    transition: color 0.3s ease, font-size 0.3s ease;
}

ul {
    list-style-type: none;;
}

ul li:not(:last-child) {
    margin: 10px 0;
    border-bottom: 0.1rem solid var(--gold);
}

nav a:hover {
    color: var(--gold);
    font-size: 22px;
}

/* end of header */

/* content_section */

.php_preview {
    background: var(--gold);
    color: var(--textColor);
    padding: 1rem;
}

.php_preview h2,
.php_preview h3,
.php_preview h4 {
    padding: 0.5rem;
    text-align: center;
}


.php_preview h2 {
    background-color: var(--newRe);
    color: var(--textColorWhite);
    border-radius: 10px;
    padding: 0.7rem;
    margin: 0.5rem 4rem;
}

.php_preview h3 {
    font-size: 2rem;
    margin-bottom: -0.5rem;
}

.php_preview img {
    display: block;
    margin: 0 auto;
    width: 30%;
    background: #fff;
    padding: 0.5rem;
    border-radius: 10px;
}

.mainText p {
    display: flex;
    justify-content: center;
    padding: 1rem;
    margin-bottom: -1rem;
}

blockquote {
    background: var(--navBg);
    color: var(--textColorWhite);
    padding: 1rem 3rem;
    margin: 1rem 2rem;
    border-radius: 10px;
}

blockquote cite {
    display: block;
    text-align: center;
    margin-bottom: 1rem;
    
}

.quote {
    display: block;
    font-size: 1rem;
    text-align: right;
}

/* end of content_section */

/* tour_section */

.tour_section_header h2 {
    display: grid;
    justify-content: left;
    background-color: var(--navBg);
    color: var(--gold);
    padding: 1rem;
    text-align: center;
    margin: 1rem 0;
}

.tour_section_header img {
    display: block;
    margin: 0 auto;
    width: 90%;
    padding: 0.5rem;
    border-radius: 10px;
}

.tour_section h3 {
    color: var(--onTourH3);
    font-size: 1rem;
    margin-bottom: 0.2rem;
}

.tour_section h4 {
    color: var(--onTourH4);
    font-size: 1rem;
    margin-bottom: 0.2rem;
}

.tour_section p {
    font-family: 'Courier New', Courier, monospace;
}

.event {
    display: grid;
    justify-content: left;
    margin: 1rem;
    border-bottom: 0.1rem solid var(--gold);
}

/* end of tour_section */

.books_section_header {
    display: grid;
    justify-content: left;
    background-color: var(--navBg);
    color: var(--gold);
    padding: 1rem;
    text-align: center;
    margin: 1rem 0;
}

.books_section {
    display: grid;
    justify-content: center;
    margin: 1rem;
    border-bottom: 0.1rem solid var(--gold);
}

.book {
    display: grid;
    text-align: left;
    border-bottom: 0.1rem solid var(--gold);
}

.book img {
    display: block;
    margin: 0 auto;
    width: 60%;
    padding: 0.5rem;
}

.book h3 {
    font-size: 1.5rem;
    margin-bottom: 0.3rem;
}

.book h4 {
    font-size: 1rem;
}

.book p {
    text-align: left;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}






@media only screen and (max-width: 600px) {
    img[src="/img/lind.png"] {
        display: none;
    }

    .closing_menu {
            display: none; /* Hide the closing menu by default on mobile */
    }

    #toggleClosingMenu {
        display: block; 
        width: 100%; 
        background-color: transparent;
        border: none;
        padding: 1rem; 
        margin-bottom: -2rem;
        font-size: 2rem; 
        text-align: right; 
        cursor: pointer; 
        font-family: 'Courier New', Courier, monospace;
     }

     #booksClosingMenu {
        display: block; 
        width: 100%; 
        background-color: transparent;
        border: none;
        padding: 1rem; 
        margin-top: -1rem;
        margin-bottom: -2rem;
        font-size: 2rem; 
        text-align: right; 
        cursor: pointer; 
        font-family: 'Courier New', Courier, monospace;
     }

}


